manifest {
    mainScript = 'CoVpipeNext.nf'
    name = 'CoVpipeNext'
    nextflowVersion = '>=20.01.0'
}

params {
    cores = '4'
    max_cores = 12 //Runtime.runtime.availableProcessors()
    memory = '12'

    help = false
    profile = false
    workdir = false

    // input

    // reads
    fastq = ''
    list = false
    mode = 'paired'

    //reference
    reference = false // currently only 'sars-cov2'
    ref_genome = false // e.g. 'data/reference_SARS-CoV2/NC_045512.2.fasta'
    ref_annotation = false // e.g. 'data/reference_SARS-CoV2/NC_045512.2.gff3'

    // amplicon primer clipping
    primer = false
    max_primer_mismatches = 1

    // adapter & read trimming
    adapter = false // e.g. 'data/adapters/NexteraTransposase.fasta'
    fastp_additional_parameters = '--qualified_quality_phred 15 --length_required 15'
    
    // kraken
    kraken = false
    taxid = '2697049'

    // output folder structure
    output = 'results'
    genome_dir = '00-Genome'
    read_dir = '01-Read-QC'
    mapping_dir = '02-Mapping'

    // location for engines' cache
    singularity_cache_dir = 'singularity'
    conda_cache_dir = 'conda'

    // location for autodownload data like databases
    dbs = 'nextflow-autodownload-databases'

    // softlink results instead of copying
    publish_dir_mode = 'copy' // use 'symlink' to just link the results

    cloudProcess = false
}

profiles {
    //executors
    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

    //engines
    conda { 
        conda {
            cacheDir = params.conda_cache_dir
        }
        includeConfig 'configs/conda.config'
    }

    //pre-merged
    standard { 
        executor {
                name = "local"
               	cpus = params.max_cores
        }
        conda {
            cacheDir = params.conda_cache_dir
        }
        params.databases = params.dbs
        params.cloudProcess = false
        includeConfig 'configs/local.config'
        includeConfig 'configs/conda.config'
    }

}