manifest {
    mainScript = 'CoVpipeNext.nf'
    name = 'CoVpipeNext'
    nextflowVersion = '>=20.01.0'
}

params {
    cores = '4'
    max_cores = 12 //Runtime.runtime.availableProcessors()
    memory = '12'

    help = false
    profile = false
    workdir = false

     // input
    fastq = ''
    list = false
    mode = 'paired'

    reference = false // currently only 'sars-cov2'
    ref_genome = false // e.g. 'data/reference_SARS-CoV2/NC_045512.2.fasta'
    ref_annotation = false // e.g. 'data/reference_SARS-CoV2/NC_045512.2.gff3'

    // output folder structure
    output = 'results'

    // location for engines' cache
    singularityCachedir = 'singularity'
    condaCachedir = 'conda'

    // location for autodownload data like databases
    dbs = 'nextflow-autodownload-databases'

    // softlink results instead of copying
    softlink_results = false

    cloudProcess = false
}

profiles {
    //executors
    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

    //engines
    conda { 
        conda {
            cacheDir = params.condaCachedir
        }
        includeConfig 'configs/conda.config'
    }

    //pre-merged
    standard { 
        executor {
                name = "local"
               	cpus = params.max_cores
        }
        conda {
            cacheDir = params.condaCachedir
        }
        workDir = params.workdir
        params.databases = params.dbs
        params.cloudProcess = false
        includeConfig 'configs/local.config'
        includeConfig 'configs/conda.config'
    }

}