params {
    // Limit resources so that this can run on GitHub Actions
    max_cores          = 2
    memory             = '6.GB'

    // Input data to test amplicon analysis
    fastq              = "$baseDir/tests/amplicon_artic_v1_samplesheet.csv"
    list               = true
    run_id             = 'test'
    primer_version     = 'V1'

    adapter            = "$baseDir/data/adapters/NexteraTransposase.fasta"

    frac               = 0.2
}