process {
    // pangolin conda is maintained via params.pangolin_conda_default in nextflow.config
    // nextclade conda is maintained via params.nextclade_conda_default in nextflow.config
    withLabel: dos2unix   {         conda = "$projectDir/envs/dos2unix.yaml" }
    withLabel: samtools   {         conda = "$projectDir/envs/samtools.yaml" }
    withLabel: bwa        {         conda = "$projectDir/envs/bwa.yaml" }
    withLabel: fastp      {         conda = "$projectDir/envs/fastp.yaml" }
    withLabel: freebayes  {         conda = "$projectDir/envs/freebayes.yaml" }
    withLabel: bcftools   {         conda = "$projectDir/envs/bcftools.yaml" }
    withLabel: snpeff     {         conda = "$projectDir/envs/snpeff.yaml" }
    withLabel: bedtools   {         conda = "$projectDir/envs/bedtools.yaml" }
    withLabel: kraken     {         conda = "$projectDir/envs/kraken.yaml" }
    withLabel: krona      {         conda = "$projectDir/envs/krona.yaml" }
    withLabel: lcs_sc2    {         conda = "$projectDir/envs/lcs.yaml" }
    withLabel: r          {         conda = "$projectDir/envs/r.yaml"}
    withLabel: bamclipper {         conda = "$projectDir/envs/bamclipper.yaml"}
    withLabel: liftoff    {         conda = "$projectDir/envs/liftoff.yaml"}
    withLabel: pigz       {         conda = "$projectDir/envs/pigz.yaml"}
    withLabel: python     {         conda = "$projectDir/envs/python.yaml"}
    withLabel: president  {         conda = "$projectDir/envs/president.yaml"}
    withLabel: sc2rf      {         conda = "$projectDir/envs/sc2rf.yaml"}
}
