process {
    withLabel: dos2unix   {         conda = "$baseDir/envs/dos2unix.yaml" }
    withLabel: samtools   {         conda = "$baseDir/envs/samtools.yaml" }
    withLabel: bwa        {         conda = "$baseDir/envs/bwa.yaml" }
    withLabel: fastp      {         conda = "$baseDir/envs/fastp.yaml" }
    withLabel: freebayes  {         conda = "$baseDir/envs/freebayes.yaml" }
    withLabel: bcftools   {         conda = "$baseDir/envs/bcftools.yaml" }
    withLabel: snpeff     {         conda = "$baseDir/envs/snpeff.yaml" }
    withLabel: bedtools   {         conda = "$baseDir/envs/bedtools.yaml" }
    withLabel: kraken     {         conda = "$baseDir/envs/kraken.yaml" }
    withLabel: krona      {         conda = "$baseDir/envs/krona.yaml" }
    withLabel: r          {         conda = "$baseDir/envs/r.yaml"}
    withLabel: bamclipper {         conda = "$baseDir/envs/bamclipper.yaml"}
    withLabel: liftoff    {         conda = "$baseDir/envs/liftoff.yaml"}
    withLabel: pigz       {         conda = "$baseDir/envs/pigz.yaml"}
    withLabel: python     {         conda = "$baseDir/envs/python.yaml"}
    withLabel: pangolin   {         conda = "$baseDir/envs/pangolin.yaml"}
    withLabel: president  {         conda = "$baseDir/envs/president.yaml"}
    withLabel: nextclade  {         conda = "$baseDir/envs/nextclade.yaml"}
}
