process {
    // pangolin container is maintained via params.default_pangolin in nextflow.config
    // nextclade container is maintained via params.default_pangolin in nextflow.config
    withLabel: dos2unix   {         container  = "rkimf1/dos2unix:7.4.1--7f25d02" }
    withLabel: samtools   {         container  = "rkimf1/samtools:1.14--e682cb2" }
    withLabel: bwa        {         container  = "rkimf1/bwa-samtools:0.7.17--6eae1f3" }
    withLabel: fastp      {         container  = "rkimf1/fastp:0.23.2--4cc6541" }
    withLabel: freebayes  {         container  = "rkimf1/freebayes-bcftools:1.3.6--2608d68" }
    withLabel: bcftools   {         container  = "rkimf1/bcftools:1.14--8922626" }
    withLabel: snpeff     {         container  = "rkimf1/snpeff:4.5covid19--16227f7" }
    withLabel: bedtools   {         container  = "rkimf1/bedtools:2.30.0--7a1c482" }
    withLabel: kraken     {         container  = "rkimf1/kraken2:2.1.2--d84224a" }
    withLabel: krona      {         container  = "nanozoo/krona:2.7.1--e7615f7"}
    withLabel: lcs_sc2    {         container  = "rkimf1/lcs:1.1.0--6963bd2"}
    withLabel: r          {         container  = "rkimf1/r-covpipe:89835bd--c37db5b"}
    withLabel: bamclipper {         container  = "quay.io/biocontainers/bamclipper:1.0.0--hdfd78af_2"}
    withLabel: liftoff    {         container  = "rkimf1/liftoff:1.6.2--b2a5be2"}
    withLabel: pigz       {         container  = "rkimf1/pigz:2.6--0d38cb2"}
    withLabel: python     {         container  = "rkimf1/template:3.8--350e6d8"}
    withLabel: president  {         container  = "rkimf1/president:0.6.6--c3d2425"}
}
