process {
    withLabel: dos2unix   {     cpus = 1;             }
    withLabel: samtools   {     cpus = 1;             }
    withLabel: gatk       {     cpus = 1;             }
    withLabel: ptrimmer   {     cpus = 1;             }
    withLabel: fastp      {     cpus = params.cores   } 
    withLabel: bwa        {     cpus = params.cores   } 
    withLabel: freebayes  {     cpus = 1;             } 
    withLabel: bcftools   {     cpus = 1;             } 
    withLabel: snpeff     {     cpus = 1;             } 
    withLabel: bedtools   {     cpus = 1;             } 
    withLabel: kraken     {     cpus = params.cores;  } 
    withLabel: r          {     cpus = 1;             } 
    withLabel: bamclipper {     cpus = 1;             } 
    withLabel: biopython  {     cpus = 1;             } 
    withLabel: conda      {     cpus = 1;             } 
    withLabel: liftoff    {     cpus = 1;             } 
    withLabel: bwa        {     cpus = params.cores;  } 
}
