process {
    withLabel: dos2unix   {     cpus = 1;             }
    withLabel: samtools   {     cpus = params.cores;  }
    withLabel: fastp      {     cpus = 1   } 
    withLabel: bwa        {     cpus = params.cores   } 
    withLabel: freebayes  {     cpus = 1;             } 
    withLabel: bcftools   {     cpus = 1;             } 
    withLabel: snpeff     {     cpus = 1;             } 
    withLabel: bedtools   {     cpus = 1;             } 
    withLabel: kraken     {     cpus = params.cores;  } 
    withLabel: r          {     cpus = 1;             } 
    withLabel: bamclipper {     cpus = params.cores;  } 
    withLabel: biopython  {     cpus = 1;             }
    withLabel: liftoff    {     cpus = 1;             } 
    withLabel: pigz       {     cpus = params.cores;  }
    withLabel: pangolin   {     cpus = params.cores;  }
    withLabel: nextclade  {     cpus = 1;  }
    withLabel: smallTask  {     cpus = 1;             }
}
