process {
    withLabel: dos2unix   {     cpus = 1; memory = '20 GB' }
    withLabel: samtools   {     cpus = 1; memory = '5 GB'  }
    withLabel: gatk       {     cpus = 1; memory = '5 GB'  }
    withLabel: ptrimmer   {     cpus = 1; memory = '5 GB'  }
    withLabel: fastp      {     cpus = 15; memory = '5 GB' } 
    withLabel: bwa        {     cpus = 15 ; memory = '20 GB' } 
    withLabel: freebayes  {     cpus = 1; memory = '5 GB'  } 
    withLabel: bcftools   {     cpus = 1; memory = '5 GB'  } 
    withLabel: snpeff     {     cpus = 1; memory = '5 GB'  } 
    withLabel: bedtools   {     cpus = 1; memory = '5 GB'  } 
    withLabel: kraken     {     cpus = 15; memory = '20 GB' } 
    withLabel: r          {     cpus = 1; memory = '5 GB'  } 
    withLabel: bamclipper {     cpus = 1; memory = '5 GB'  } 
    withLabel: biopython  {     cpus = 1; memory = '5 GB'  } 
    withLabel: conda      {     cpus = 1; memory = '5 GB'  } 
    withLabel: liftoff    {     cpus = 1; memory = '5 GB'  } 
    withLabel: pigz       {     cpus = 15; memory = '20 GB' } 
}
